.dokumentElement {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.25rem;
  color: var(--a-text-default);
  text-decoration: none;
}

.ikonWrapper {
  display: flex;
  border-radius: 0.25rem;
  background-color: var(--a-surface-neutral-subtle);
  height: 2.75rem;
  width: 2.75rem;
  align-items: center;
  justify-content: center;
}
