.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.background {
  background-color: var(--a-surface-hover);
  border-radius: 0.5rem;
  margin-top: 0.75rem;
}

.tekst {
  padding: 1rem;
}

.heading {
  color: var(--a-text-default);
}

