.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 2rem;
}

.heading {
  color: var(--a-text-default);
}

.button {
  width: 14rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}