.dokumentlenke {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--a-text-default);
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-decoration: none;
}

.dokumentlenke:hover {
  background-color: var(--a-surface-hover);
}

.ikkeKlikkbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--a-text-subtle);
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.datoOgInnsender {
  font-size: 1rem;
  color: var(--a-text-subtle);
}