.vedlegg {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: var(--a-text-default);
  text-decoration: none;
  padding: 0.75rem;
  padding-left: 4rem;
}

.vedlegg:hover {
  background-color: var(--a-surface-hover);
  text-decoration: underline;
}

.vedleggIngenTilgang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: var(--a-text-subtle);
  text-decoration: none;
  padding: 0.75rem;
  padding-left: 4rem;
}

.veddleggsListe {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: var(--a-text-on-info);
}

.tittel {
  padding-left: 4rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.btn {
  margin-left: 4rem;
}

.chevron {
  overflow: visible;
}

.show {
  display: flex;
}

.visuallyHidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
