.container {
  margin-top: 3rem;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  padding: 2.5rem calc((100vw - 100%) / 2);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  background-color: var(--a-red-50);
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 0.75rem;
}

.card {
  border-radius: 8px;
  width: 100%;
  font-weight: 600;
}