.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 10px;
  border-radius: 8px;
  background: var(--a-surface-selected);
  margin-top: 2rem;
}

.select {
  max-width: fit-content;
}