.pageContainer {
  max-width: 60rem;
  margin: 2rem auto;
}

.contentContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  height: auto;
  min-height: 70%;
  width: 100%;
}

@media (min-width: 0px) {
  .contentContainer {
    margin: 0 1rem;
  }
}

@media (min-width: 768px) {
  .contentContainer {
    margin: 0;
  }
}
