.container {
  border-radius: 0.5rem;
}

.lenke {
  display: flex;
  padding: 1.5rem 0.5rem;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-decoration: none;
  color: var(--a-text-default);
}

.tittel {
  color: var(--a-text-default);
  font-weight: 600;
}

.ingress {
  color: var(--a-text-subtle);
}

.container:hover {
  background-color: var(--a-surface-hover);
}

.container:hover .tittel{
  text-decoration: underline;
}